In [1]:
# This is a test

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import datetime as dt

from sklearn import preprocessing, model_selection, metrics

import lightgbm as lgb

import matplotlib.pyplot as plt
%matplotlib inline

from pathlib import Path
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'
pd.options.display.max_columns = 1000

In [2]:
DATA_PATH = Path("data/")

In [31]:
train = pd.read_csv(DATA_PATH/"train.csv", parse_dates=["impression_time"])
test = pd.read_csv(DATA_PATH/"test.csv", parse_dates=["impression_time"])

In [32]:
train.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [33]:
train["is_train"] = 1
test["is_test"] = 0

panel = pd.concat([train, test], sort=False, ignore_index=True)

In [ ]:
panel

In [9]:
train["impression_id"].nunique(), train.shape

(237609, (237609, 7))

In [10]:
test["impression_id"].nunique(), test.shape

(90675, (90675, 6))

In [11]:
train["user_id"].nunique(), train.shape

(74723, (237609, 7))

In [13]:
test["user_id"].nunique(), test.shape

(34079, (90675, 6))

In [14]:
74723/237609, 34079/90675

(0.3144788286638974, 0.3758367797077474)

In [17]:
len(set(train["user_id"].unique()).intersection(test["user_id"].unique()))

19645

In [18]:
len(set(train["app_code"].unique()).intersection(test["app_code"].unique()))

341

In [20]:
train["app_code"].nunique(), test["app_code"].nunique()

(490, 373)

In [21]:
log = pd.read_csv(DATA_PATH/"view_log.csv")

In [22]:
log.shape

(3118622, 5)

In [23]:
log.head()

           server_time device_type  session_id  user_id  item_id
0  2018-10-15 08:58:00     android      112333     4557    32970
1  2018-10-15 08:58:00     android      503590    74788     7640
2  2018-10-15 08:58:00     android      573960    23628   128855
3  2018-10-15 08:58:00     android      121691     2430    12774
4  2018-10-15 08:58:00     android      218564    19227    28296

In [24]:
log["session_id"].nunique()

1014970

In [25]:
log["item_id"].nunique()

126708

In [26]:
item = pd.read_csv(DATA_PATH/"item_data.csv")

In [28]:
item["item_id"].nunique(), item["item_id"].shape

(132761, (132761,))